@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
body{
    background: rgb(0,19,36);
    background: linear-gradient(351deg, rgba(0,19,36,1) 27%, rgba(85,159,81,1) 77%, rgba(81,166,107,1) 97%);
    font-stretch: extra-condensed;
    font-size: 20px;
    font-family: cursive;
    max-width: 1200px;
    padding: 15px;
    margin: 0 auto ;
.apresentação {
    display: flex;
gap: 50px;
}
.detalhes {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.nomes {
    display: flex;
    flex-direction: row;
    gap: 130px;
}
.poster {
    display: flex;
    flex-direction: row;
    gap: 120px;
}
.fim {
    display: flex;
    flex-direction: column;
    font-size: 40px;
    gap: 70px;
    font-style: oblique;
}
}